@import "mixins/font-face.styl"

// ::Fonts
baseSize = 16px
baseFont = 'Roboto'
baseWeight = normal

add-font('Roboto', '../fonts/RobotoRegular/RobotoRegular', normal)
add-font('Roboto', '../fonts/RobotoBold/RobotoBold', bold)

// ::Style
@import "../vendor/normalize.css/normalize.css"